@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import "reset";
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: #0000;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: #b44c34;    /* цвет плашки */
    border-radius: 20px;          /* закругления плашки */
    border: 3px solid #b44c34;  /* padding вокруг плашки */
}
input{
    outline: none;
    background-color: #00000000;
    border: none;
  }
button{
    border: none;
    cursor: pointer;
}
::selection{
    color: #ffdd2d;
}
body{
    nav{
        display: none;
        position: fixed;
        bottom: 15px;
        right: 15px;
        img{
            padding: 12px;
            width: 30px;
            height: 30px;
            border: #2e2e2e solid 1px;
            border-radius: 15px;
            transition: border 0.25s ease-in-out;
        }
        img:hover{
            border: #969696 solid 1px;
        }
        opacity: 0;
        animation: visible 1.5s forwards;
        @keyframes visible {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
        @keyframes unvisible {
            100% {opacity: 0;}
            0% {opacity: 1;}
        }
    }
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    header{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        h1{
            font-size: 80px;
            font-weight: 500;
            line-height: 88px;
            color: #e15f41;
        }
        h2{
            margin-top: 80px;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            color: #868f8f;
        }
        button{
            color: #fff;
            margin-top: 40px;
            width: 220px;
            height: 48px;
            border-radius: 50px;
            border: #e15f41 solid 2px;
            background-color: #e15f41;
            font-size: 20px;
            text-align: center;
            font-weight: 400;
            animation: out_shadow 1s forwards;
            @keyframes out_shadow {
                0% {color: #cabebc; border: #b44c34 solid 2px; background-color: #b44c34;}
                100% {color: #fff; border: #e15f41 solid 2px; background-color: #e15f41;}
            }
        }
        button:hover{
            animation: on_shadow 1s forwards;
            @keyframes on_shadow {
                0% {color: #fff; border: #e15f41 solid 2px; background-color: #e15f41;}
                100% {color: #cabebc; border: #b44c34 solid 2px; background-color: #b44c34;}
            }
        }
        button:last-child{
            margin-left: 20px;
            border: #e15f41 solid 2px;
            background-color: #ffffff00;
            animation: shadow_out 1s forwards;
            @keyframes shadow_out {
                0% {color: #aaaaaa; border: #b44c34 solid 2px;}
                100% {color: #fff; border: #e15f41 solid 2px;}
            }
        }
        button:last-child:hover{
            animation: shadow_on 1s forwards;
            @keyframes shadow_on{
                0% {color: #fff; border: #e15f41 solid 2px;}
                100% {color: #aaaaaa; border: #b44c34 solid 2px;}
            }
        }
        img{
            background-color: rgb(143, 143, 143, 1.0);
            border: #8f8f8f solid 2px;
            border-radius: 50px;
            width: 40px;
            position: absolute;
            bottom: 40px;
        }
    }
    main{
        display: flex;
        flex-direction: column;
        section{
            padding-left: calc(100vw / 5);
        }
        section:first-child{
            h1{
                color: #a74114;
                font-size: 64px;
                line-height: 72px;
                font-weight: 500;
            }
            h2{
                margin-top: 40px;
                color: #e15f41;
                font-size: 36px;
                line-height: 44px;
                font-weight: 500;
            }
        }
        section:nth-child(2){
            margin: 200px 0;
            h1{
                color: #e15f41;
                font-size: 64px;
                line-height: 72px;
                font-weight: 500;
            }
            .cards{
                display: flex;
                div{
                    margin-top: 60px;
                    margin-left: 40px;
                    h1{
                        color: #8f8f8f;
                        font-size: 120px;
                        line-height: 128px;
                        font-weight: 400;
                    }
                    h2{
                        margin-top: 40px;
                        color: #fff;
                        font-size: 36px;
                        line-height: 44px;
                        font-weight: 500;
                    }
                    p{
                        margin-top: 40px;
                        color: #8f8f8f;
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: 400;
                    }
                }
                div:first-child{
                    margin-left: 0px;
                }
            }
        }
        section:nth-child(3){
            h1{
                color: #e15f41;
                font-size: 64px;
                line-height: 72px;
                font-weight: 500;
            }
            div{
                margin: 60px 0;
                display: flex;
                gap: 50px;
                img{
                    width: 336px;
                    // margin: 40px;
                }
            }
        }
        section:last-child{
            padding-left: none;
            padding-right: calc(100vw / 5);
            background-image: url(./img/bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: end;
            div{
                padding: 40px;
                width: 352px;
                margin: 250px 0;
                background-color: #000;
                h1{
                    color: #e15f41;
                    font-size: 44px;
                    line-height: 52px;
                    font-weight: 500;
                }
                label{
                    color: #868f8f;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 300;
                    position: relative;
                    top: 68px;
                    animation: none;
                    @keyframes up {
                        0% {top: 68px; font-size: 20px;}
                        100% {top: 38px; font-size: 15px;}
                    }
                    @keyframes down {
                        0% {top: 38px; font-size: 15px;}
                        100% {top: 68px; font-size: 20px;}
                    }
                    transform: translate(-100%, -100%);
                }
                input{
                    position: relative;
                    width: 100%;
                    margin-top: 40px;
                    border-bottom: #868f8f solid 3px;
                    color: #868f8f;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 300;
                }
                input:hover,:focus{
                    border-bottom: #cccccc solid 3px;
                }
                p{
                    opacity: 0;
                    margin-top: 2px;
                    color: #fff;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                }
                button{
                    color: #fff;
                    margin-top: 40px;
                    width: 149px;
                    height: 48px;
                    border-radius: 50px;
                    border: #aaaaaa solid 2px;
                    background-color: #00000000;
                    font-size: 20px;
                    text-align: center;
                    font-weight: 400;
                    animation: go_out_shadow 1s forwards;
                    @keyframes go_out_shadow {
                        0% {color: #727272; border: #727272 solid 2px;}
                        100% {color: #fff; border: #aaaaaa solid 2px;}
                    }
                }
                button:hover{
                    animation: go_on_shadow 1s forwards;
                    @keyframes go_on_shadow {
                        0% {color: #fff; border: #aaaaaa solid 2px;}
                        100% {color: #727272; border: #727272 solid 2px;}
                    }
                }
            }
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #111111;
        h1{
            margin-top: 100px;
            color: #e15f41;
            font-size: 64px;
            line-height: 72px;
            font-weight: 500;
        }
        h2{
            margin-top: 40px;
            color: #868f8f;
            font-size: 28px;
            line-height: 36px;
            font-weight: 400;
        }
        div{
            margin: 100px 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            p{
                color: #e15f41;
                font-size: 36px;
                line-height: 44px;
                font-weight: 500;
            }
        }
        div:last-child{
            margin: 0;
            background-color: #000;
            padding: 20px 0;
            justify-content: center;
            p{
                margin-right: 5px;
                color: #8f8f8f;
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
            }
        }
    }
}
